*.aux
*.dvi
*.log
*.synctex.gz
*.bbl
*.blg
*.ps
*.7z
*.zip
*.exe 

/examples/*
/template_reading/in/*
/template_reading/out/*
/template_reading/font/*
/template_reading/font_in/*
/template_reading/__pycache__/*
/template_reading/optimize/*
/template_reading/optimizers/*

/template_creating/__pycache__/*

/font_creating/__pycache__/*

/miktex_portable/*
/fontforge_portable/*